/* Hidden Outputs -----------------------------------------*/
#displayTotal {
  display: none;
}

#displayPizzas {
  display: none;
}

#carryoutInfo {
  display: none;
}

#deliveryInfo {
  display: none;
}

.deliveryMessage {
  display: none;
}

/* Header -------------------------------------------------*/
header {
  /* padding-top: 20px; */
  padding-bottom: 30px;
  background-color: white;
  width: 100%
}

header h1 {
  font-size: 125px;
  font-family: 'Kirang Haerang', cursive;
}
header p {
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;

}

/* Body ----------------------------------------------------*/
body {
  font-family: 'Nanum Gothic', sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 85%;
  padding: 40px 10px;
}

main {
  padding-top: 20px; 
  background-color: lightsalmon;
}

h2 {
  font-size: 35px;
  font-family: 'Kirang Haerang', cursive;
}

h3 {
  font-size: 30px;
  font-family: 'Kirang Haerang', cursive;
}

input {
  font-family:'Nanum Gothic', sans-serif;
}

img {
  max-width: 100%;
  width: 90px;
  height: auto;
  margin-left: 10px;
  padding-bottom: 0;
}

#customerName {
  font-size: 35px;
  font-family: 'Kirang Haerang', cursive;
}

.hooray {
  font-size: 50px;
  font-family: 'Kirang Haerang', cursive;
}

.orderInfo {
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
}

.btn {
  margin: 15px;
}

/* Footer -------------------------------------------------*/
footer {
  padding: 50px 50px 50px 0;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
  background-color: lightcyan;
}

/* Media Queries */
@media screen and (max-width: 570px) {
  img {
    display: none;
  }
}